body {
  font-family: 'Dosis', sans-serif;
  font-style: normal;
  text-align:center;
  
  margin-top: 64;
}

#hero{
  position: absolute;
  width: 626px;
  height: 486px;
  left: 199px;
  top: 64px;
  margin-top: 64px;
  margin-left: 199px;
  margin-bottom: 240px;
  margin-right: 199px;
}
h1{
  color: #3F3D56 ;
  margin-bottom: 16px;
}
h1 span{
  color: #EE24FF;
}

p {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  text-align: center;
  color: #828282;
  width: 540px;
  height: 107px;
  left: 249px;
  top: 390px;
  
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 120;

}  
span {
  color: #3F3D56;}
footer {
  
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
  line-height: 147.68%;
  margin-left: 7;
  margin-right: 7;
}
a{
  color: #3F3D56;
}
a + a{
  margin-left: 42px;
}
#line{
  border: 1px solid #ECEFF2;  
  width: 391px;
  height: 0px;
  left: 317px;
  top: 614px;
  margin:auto;
  margin-bottom: 16px;
  margin-top: 64px;
}  
#waves {
  margin-left: 0x;
}